name: Check

on:
  push:

env:
  EARTHLY_VERSION: 0.8.16

jobs:
  check:
    runs-on: ubuntu-24.04-arm
    name: check (${{ matrix.go}})
    strategy:
      matrix:
        go: [1.24, 1.25, 1.26]
    continue-on-error: true
    steps:
      - uses: EarthBuild/actions-setup@main
        with:
          version: ${{ env.EARTHLY_VERSION }}
          use-cache: false
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: echo "go_version=${{ matrix.go }}" >> .arg
      - name: Lint
        run: earthly --ci +lint
      - name: Test
        run: earthly --ci +test
      - name: Go Vulnerability Check
        run: earthly --ci +govulncheck
